<table class="table table-striped table-bordered table-hover table-sm">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Asset Type</th>
    <th scope="col">Manufacturer</th>
    <th scope="col">Model</th>
    <th scope="col">Location</th>
    <th scope="col">Room</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let asset of assets">
    <th scope="row">4390</th>
    <td><a href="">cmpt-clstr-node-1</a></td>
    <td>SERVER</td>
    <td>Dell</td>
    <td>PowerEdge X980</td>
    <td>DC 1 (Philadelphia, PA)</td>
    <td>Server Room 3</td>
    <td>AD-07</td>
    <td>23</td>
  </tr>
  </tbody>
</table>
